yt-dlp==2025.3.26
requests==2.32.3
urllib3==2.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
colorama==0.4.6  # Opsional, hanya untuk tampilan CLI
filelock==3.17.0  # Opsional, jika ada proses multi-threading
PyYAML==6.0.2  # Opsional, jika menggunakan konfigurasi YAML